<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>

<header id="header" class="header-area style-01 layout-03" th:fragment="header">
        <div class="header-top bg-main hidden-xs">
            <div class="container">
                <div class="top-bar left">
                    <ul class="horizontal-menu">
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>support@kaori.com</a></li>
                        <li><a href="#">Envíos gratis para todo pedido de más de 90€</a></li>
                    </ul>
                </div>
                <div class="top-bar right">
                    <ul class="social-list">
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                    <ul class="horizontal-menu">
                        <li class="horz-menu-item lang">
                            <select name="language">
                                <option value="es">España</option>
                                <option value="en">English</option>
                            </select>
                        </li>
                        <li><a href="#" class="login-link"><i
                                class="biolife-icon icon-login"></i>Inicio/Registro</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-middle biolife-sticky-object">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-md-4 col-xs-6">
                        <a th:href="@{/index}" class="biolife-logo"><img th:src="@{/images/organic-3-green.png}"
                                                                         alt="biolife logo" width="135" height="36"></a>
                    </div>
                    <div class="col-lg-8 col-md-8 hidden-sm hidden-xs">
                        <div class="primary-menu">
                            <ul class="menu biolife-menu clone-main-menu clone-primary-menu" id="primary-menu"
                                data-menuname="main menu">
                                <li class="menu-item menu-item-has-children has-child">
                                    <a th:href="@{/categories}" class="menu-name" data-title="Product">Categorías</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item" th:each="category: ${categories}">
                                            <a th:text="${category.name}" th:href="@{/categories/{id}(id=${category.id})}"></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children has-child">
                                    <a th:href="@{/brands}" class="menu-name" data-title="Product">Marcas</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item" th:each="brand: ${brands}">
                                            <a th:text="${brand.name}" th:href="@{/brands/{id}(id=${brand.id})}"></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a th:href="@{/products}">Productos</a></li>
                                <li class="menu-item"><a th:href="@{/admin/products/new}">Añadir productos</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-md-6 col-xs-6">
                        <div class="biolife-cart-info">
                            <div class="menu-item"><a href="contact.html">Contact</a></div>
                            <div class="minicart-block">
                                <div class="minicart-contain">
                                    <a href="javascript:void(0)" class="link-to">
                                        <span class="icon-qty-combine">
                                            <i class="icon-cart-mini biolife-icon"></i>
                                            <span class="qty">8</span>
                                        </span>
                                        <span class="title">Mi carrito -</span>
                                        <span class="sub-total">0.00€</span>
                                    </a>
                                    <div class="cart-content">
                                        <div class="cart-inner">
                                            <ul class="products">
                                                <li>
                                                    <div class="minicart-item">
                                                        <div class="thumb">
                                                            <a href="#"><img th:src="@{/images/shippingcart/pr-01.jpg}"
                                                                             width="90" height="90" alt="National Fresh"></a>
                                                        </div>
                                                        <div class="left-info">
                                                            <div class="product-title"><a href="#"
                                                                                          class="product-name">National Fresh Fruit</a></div>
                                                            <div class="price">
                                                                <ins><span class="price-amount"><span
                                                                        class="currencySymbol">£</span>85.00</span></ins>
                                                                <del><span class="price-amount"><span
                                                                        class="currencySymbol">£</span>95.00</span></del>
                                                            </div>
                                                            <div class="qty">
                                                                <label for="cart[id123][qty]">Qty:</label>
                                                                <input type="number" class="input-qty"
                                                                       name="cart[id123][qty]" id="cart[id123][qty]"
                                                                       value="1" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="action">
                                                            <a href="#" class="edit"><i class="fa fa-pencil"
                                                                                        aria-hidden="true"></i></a>
                                                            <a href="#" class="remove"><i class="fa fa-trash-o"
                                                                                          aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="minicart-item">
                                                        <div class="thumb">
                                                            <a href="#"><img th:src="@{/images/shippingcart/pr-02.jpg}"
                                                                             width="90" height="90" alt="National Fresh"></a>
                                                        </div>
                                                        <div class="left-info">
                                                            <div class="product-title"><a href="#"
                                                                                          class="product-name">National Fresh Fruit</a></div>
                                                            <div class="price">
                                                                <ins><span class="price-amount"><span
                                                                        class="currencySymbol">£</span>85.00</span></ins>
                                                                <del><span class="price-amount"><span
                                                                        class="currencySymbol">£</span>95.00</span></del>
                                                            </div>
                                                            <div class="qty">
                                                                <label for="cart[id124][qty]">Qty:</label>
                                                                <input type="number" class="input-qty"
                                                                       name="cart[id124][qty]" id="cart[id124][qty]"
                                                                       value="1" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="action">
                                                            <a href="#" class="edit"><i class="fa fa-pencil"
                                                                                        aria-hidden="true"></i></a>
                                                            <a href="#" class="remove"><i class="fa fa-trash-o"
                                                                                          aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="minicart-item">
                                                        <div class="thumb">
                                                            <a href="#"><img th:src="@{/images/shipppingcart/pr-03.jpg}"
                                                                             width="90" height="90" alt="National Fresh"></a>
                                                        </div>
                                                        <div class="left-info">
                                                            <div class="product-title"><a href="#"
                                                                                          class="product-name">National Fresh Fruit</a></div>
                                                            <div class="price">
                                                                <ins><span class="price-amount"><span
                                                                        class="currencySymbol">£</span>85.00</span></ins>
                                                                <del><span class="price-amount"><span
                                                                        class="currencySymbol">£</span>95.00</span></del>
                                                            </div>
                                                            <div class="qty">
                                                                <label for="cart[id125][qty]">Qty:</label>
                                                                <input type="number" class="input-qty"
                                                                       name="cart[id125][qty]" id="cart[id125][qty]"
                                                                       value="1" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="action">
                                                            <a href="#" class="edit"><i class="fa fa-pencil"
                                                                                        aria-hidden="true"></i></a>
                                                            <a href="#" class="remove"><i class="fa fa-trash-o"
                                                                                          aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="minicart-item">
                                                        <div class="thumb">
                                                            <a href="#"><img th:src="@{/images/shippingcart/pr-04.jpg}"
                                                                             width="90" height="90" alt="National Fresh"></a>
                                                        </div>
                                                        <div class="left-info">
                                                            <div class="product-title"><a href="#"
                                                                                          class="product-name">National Fresh Fruit</a></div>
                                                            <div class="price">
                                                                <ins><span class="price-amount"><span
                                                                        class="currencySymbol">£</span>85.00</span></ins>
                                                                <del><span class="price-amount"><span
                                                                        class="currencySymbol">£</span>95.00</span></del>
                                                            </div>
                                                            <div class="qty">
                                                                <label for="cart[id126][qty]">Qty:</label>
                                                                <input type="number" class="input-qty"
                                                                       name="cart[id126][qty]" id="cart[id126][qty]"
                                                                       value="1" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="action">
                                                            <a href="#" class="edit"><i class="fa fa-pencil"
                                                                                        aria-hidden="true"></i></a>
                                                            <a href="#" class="remove"><i class="fa fa-trash-o"
                                                                                          aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="minicart-item">
                                                        <div class="thumb">
                                                            <a href="#"><img th:src="@{/images/shippingcart/pr-05.jpg}"
                                                                             width="90" height="90" alt="National Fresh"></a>
                                                        </div>
                                                        <div class="left-info">
                                                            <div class="product-title"><a href="#"
                                                                                          class="product-name">National Fresh Fruit</a></div>
                                                            <div class="price">
                                                                <ins><span class="price-amount"><span
                                                                        class="currencySymbol">£</span>85.00</span></ins>
                                                                <del><span class="price-amount"><span
                                                                        class="currencySymbol">£</span>95.00</span></del>
                                                            </div>
                                                            <div class="qty">
                                                                <label for="cart[id127][qty]">Qty:</label>
                                                                <input type="number" class="input-qty"
                                                                       name="cart[id127][qty]" id="cart[id127][qty]"
                                                                       value="1" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="action">
                                                            <a href="#" class="edit"><i class="fa fa-pencil"
                                                                                        aria-hidden="true"></i></a>
                                                            <a href="#" class="remove"><i class="fa fa-trash-o"
                                                                                          aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <p class="btn-control">
                                                <a href="#" class="btn view-cart">view cart</a>
                                                <a href="#" class="btn">checkout</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-menu-toggle">
                                <a class="btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8 padding-top-2px">
                        <div class="header-search-bar layout-01">
                            <form action="#" class="form-search" name="desktop-seacrh" method="get">
                                <input type="text" name="s" class="input-text" value="" placeholder="Busca aquí...">
                                <button type="submit" class="btn-submit"><i
                                        class="biolife-icon icon-search"></i></button>
                            </form>
                        </div>
                        <div class="live-info">
                            <p class="telephone"><i class="fa fa-phone" aria-hidden="true"></i><b
                                    class="phone-number"><a style="color: rgb(127, 175, 81)"
                                                            href="#">Contacto</a></b></p>
                            <p class="working-time">L-V: 8:30-19:30 | S-D: 9:30-16:30</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>

</body>
</html>