<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biolife - Organic Food</title>
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/slick.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/main-color03-green.css}">
</head>

<body class="biolife-body">

    <!-- Preloader -->
    <div id="biof-loading">
        <div class="biof-loading-center">
            <div class="biof-loading-center-absolute">
                <div class="dot dot-one"></div>
                <div class="dot dot-two"></div>
                <div class="dot dot-three"></div>
            </div>
        </div>
    </div>

    <!-- HEADER -->
    <header th:replace="fragments/header::header"></header>

    <!--Hero Section-->
    <div th:replace="~{fragments/hero::hero(${category.getName()})}"></div>



    <!--Navigation section-->
    <div class="container">
        <nav class="biolife-nav">
            <ul>
                <li class="nav-item"><a th:href="@{/index}" class="permal-link">Home</a></li>
                <li class="nav-item"><a th:href="@{/categories/{id}(id=${category.getId()})}" class="permal-link" th:text="${category.getName()}">categoría</a></li>
            </ul>
            <div class="container text-justify-center pt-0 mt-0 pb-3">
                <h3 style="color: black" th:text="${category.getDescription()}">Descripción</h3>
            </div>
            <img th:if="${category.getImage() == null}"
                 th:src="@{/images/categories/not-available.webp}" th:alt="${category.getName()}">
            <img th:unless="${category.getImage() == null}"
                 th:src="@{'/images/categories/' + ${category.getImage()}}" th:alt="${category.name}">
        </nav>
    </div>



    <!-- FOOTER -->
    <div th:replace="fragments/footer::footer"></div>
    <!-- Scroll Top Button -->
    <a class="btn-scroll-top"><i class="biolife-icon icon-left-arrow"></i></a>



    <div th:replace="fragments/scripts::scripts"></div>
</body>

</html>