<!DOCTYPE html>
<html class="no-js" lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biolife - Organic Food</title>
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/slick.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/main-color03-green.css}">
</head>

<body class="biolife-body">

    <!-- Preloader -->
    <div id="biof-loading">
        <div class="biof-loading-center">
            <div class="biof-loading-center-absolute">
                <div class="dot dot-one"></div>
                <div class="dot dot-two"></div>
                <div class="dot dot-three"></div>
            </div>
        </div>
    </div>

    <!-- HEADER -->
    <header th:replace="~{fragments/header::header}"></header>

    <!-- Page Contain -->
    <div class="page-contain">

        <!-- Main content -->
        <div id="main-content" class="main-content">

            <!--Block 01: Main Slide-->
            <div class="main-slide block-slider nav-change">
                <ul class="biolife-carousel"
                    data-slick='{"arrows": true, "dots": false, "slidesMargin": 0, "slidesToShow": 1, "infinite": false, "speed": 800}'>
                    <li>
                        <div class="slide-contain slider-opt03__layout02 slide_animation type_02">
                            <div class="media background-green-01"></div>
                                <div class="container text-content bg-light p-3 rounded-5 bg-opacity-75">
                                    <i class="first-line">Más natural</i>
                                    <h3 class="second-line">El mejor té</h3>
                                    <p class="third-line">De todos los colores y sabores</p>
                                    <p class="buttons">
                                        <a href="#" class="btn btn-bold">Compra ahora</a>
                                        <a href="#" class="btn btn-thin">Echar un vistazo</a>
                                    </p>
                                </div>
                        </div>
                    </li>
                    <li>
                        <div class="slide-contain slider-opt03__layout02 slide_animation type_02">
                            <div class="media background-geen-02"></div>
                            <div class="container text-content bg-light p-3 rounded-5 bg-opacity-75">
                                <i class="first-line">Kaori</i>
                                <h3 class="second-line">El mejor té</h3>
                                <p class="third-line">A la puerta de tu casa</p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-bold">Compra ahora</a>
                                    <a href="#" class="btn btn-thin">Echar un vistazo</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div th:replace="~{fragments/footer::footer}"></div>

    <!-- Scroll Top Button -->
    <a class="btn-scroll-top"><i class="biolife-icon icon-left-arrow"></i></a>

    <!-- SCRIPTS -->
    <div th:replace="~{fragments/scripts::scripts}"></div>

</body>

</html>