<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Términos y Condiciones</title>
    <link th:replace="~{fragments/styles::styles}">
</head>

<body class="biolife-body">

    <div id="biof-loading">
        <div class="biof-loading-center">
            <div class="biof-loading-center-absolute">
                <div class="dot dot-one"></div>
                <div class="dot dot-two"></div>
                <div class="dot dot-three"></div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/header::header}"></div>

    <h1 th:replace="~{fragments/hero::hero('Términos y condiciones')}"></h1>
    <div class="container">
        <nav class="biolife-nav">
            <ul>
                <li class="nav-item"><a th:href="@{/index}" class="permal-link">Inicio</a></li>
                <li class="nav-item"><span class="current-page">Términos y Condiciones</span></li>
            </ul>
        </nav>
    </div>
    <div class="page-contain py-5" style="padding: 80px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-text-area custom-typography">
                        <h2 style="color: #7faf51; font-family: 'Poppins', sans-serif; margin-bottom: 25px;">1.
                            Aceptación de los Términos</h2>
                        <p>Al acceder a este sitio web, usted acepta estar sujeto a estos Términos y condiciones de uso,
                            a todas las leyes y regulaciones aplicables, y acepta que es responsable del cumplimiento de
                            las leyes locales aplicables.</p>

                        <h2
                            style="color: #7faf51; font-family: 'Poppins', sans-serif; margin-top: 40px; margin-bottom: 25px;">
                            2. Licencia de Uso</h2>
                        <p>Se concede permiso para descargar temporalmente una copia de los materiales (información o
                            software) en el sitio web de Biolife para visualización transitoria personal y no comercial
                            únicamente.</p>
                        <ul style="list-style: disc; margin-left: 20px; margin-bottom: 20px;">
                            <li>No modificar ni copiar los materiales.</li>
                            <li>No usar los materiales para fines comerciales.</li>
                            <li>No intentar descompilar o realizar ingeniería inversa de cualquier software contenido en
                                el sitio.</li>
                        </ul>

                        <h2
                            style="color: #7faf51; font-family: 'Poppins', sans-serif; margin-top: 40px; margin-bottom: 25px;">
                            3. Descargo de Responsabilidad</h2>
                        <p>Los materiales en el sitio web de Biolife se proporcionan "tal cual". Biolife no otorga
                            garantías, expresas o implícitas, y por la presente renuncia y niega todas las demás
                            garantías, incluidas, sin limitación, las garantías implícitas o condiciones de
                            comerciabilidad.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer::footer}"></div>

    <div th:replace="~{fragments/scripts::scripts}"></div>


</body>

</html>