<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar producto</title>
    <link th:replace="~{fragments/styles::styles}"/>
</head>
<body>
<header th:insert="~{fragments/headers::adminHeader}"></header>
<div class="container text-center">
    <h1 class="text-decoration-underline mb-5" style="color: #2b542c;" th:text="|Borrar ${product.name}|">Nuevo producto</h1>
</div>


<form th:method="post" th:action="@{/admin/products/delete/{id}(id=${product.id})}" th:novalidate="${!clientValidationEnabled}">
    <div class="alert alert-danger" role="alert"
         th:if="${#fields.hasAnyErrors()}">
        <p>Se han producido
            errores. Por favor, corríjalos antes de volver a intentar la operación.</p>

    </div>
    <div class="card container align-items-center mb-5 mt-5" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title" th:text="|¿Seguro que desea borrar el producto ${product.name}?|"></h5>
            <button type="submit" class="btn btn-success" >Eliminar</button>
            <a class="btn btn-danger" th:href="@{/admin/products}">Cancelar</a>
        </div>
    </div>
</form>
<footer th:insert="~{fragments/footer::adminFooter}"></footer>
<div th:replace="~{fragments/scripts::scripts}"></div>
</body>
</html>