<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar producto</title>
    <link th:replace="~{fragments/styles::styles}">
</head>
<body>

<header th:insert="~{fragments/headers::adminHeader}"></header>
<div class="container text-center">
    <h1 class="text-decoration-underline" style="color: #2b542c;" th:text="|Editar ${product.name}|">Nuevo producto</h1>
</div>

<th:block th:if="${error}">
    <div class="container"> <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div class="alert alert-danger" th:text="${error}">Error</div>
    </div>
</th:block>

<form th:method="post" id="myForm" class="needs-validation" th:object="${product}" th:action="@{/admin/products/edit/{id}(id=${id})}" th:novalidate="${!clientValidationEnabled}">
    <div class="container">
        <div class="mb-3">
            <label for="code" class="form-label">Código de producto</label>
            <input type="number" class="form-control has-validation" id="code" aria-describedby="textHelp" th:field="*{code}">
            <div class="invalid-feedback">
                Solo se admiten números.
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" aria-describedby="textHelp" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea class="form-control" id="description" rows="3" th:field="*{description}"></textarea>
        </div>
        <fieldset class="mb-3">
            <legend class="mt-3 ">Categorías</legend>
            <div class="row">
                <div class="form-check col-2 ps-5" style="accent-color: #7faf51" th:each="category: ${categories}">
                    <input type="checkbox"
                           id="category-check"
                           th:field="*{categoriesIds}"
                           th:value="${category.id}"
                           th:id="|'category-check'${category.id}|">

                    <label class="form-check-label"
                           for="category-check"
                           th:for="|'category-check'${category.id}|"
                           th:text="${category.name}">
                        Categoría
                    </label>
                </div>
            </div>
        </fieldset>

        <div class="mb-3 mt-3">
            <label for="price" class="form-label">Precio</label>
            <input type="number" class="form-control" id="price" aria-describedby="numberHelp" th:field="*{price}">
            <div class="invalid-feedback">
                Solo se admiten números.
            </div>
        </div>
        <div class="mb-3">
            <label for="discount" class="form-label">Descuento</label>
            <input type="number" class="form-control" id="discount" aria-describedby="numberHelp" th:field="*{discount}">
            <div class="invalid-feedback">
                Solo se admiten números.
            </div>
        </div>

        <div class="row pb-3 d-flex">
            <label for="brand-id" class="form-label ms-3">Marca</label>
            <select class="form-select border rounded-2 text-dark ms-4" id="brand-id" th:field="*{brandId}">
                <option class="text-dark" value="">Seleccione...</option>
                <option class="text-dark" th:each="brand: ${brands}"
                        th:value="${brand.id}"
                        th:text="${brand.name}">Marca</option>
            </select>
        </div>

        <div class="d-flex justify-content-end gap-2 mb-4">
            <button type="submit" class="btn text-light mt-3 rounded-start-pill" style="background-color: #7faf51">Confirmar</button>
            <a class="btn btn-danger mt-3 border rounded-end-pill" th:href="@{/admin/products}">Cancelar</a>
        </div>
    </div>
</form>

<footer th:insert="~{fragments/footer::adminFooter}"></footer>
<div th:replace="~{fragments/scripts::scripts}"></div>

<script>
    // Obtener formulario y campos
    const form = document.getElementById("myForm");
    const campos = form.querySelectorAll("input");


    // Validación en tiempo real
    campos.forEach((campo) => {
        campo.addEventListener("input", () => {
            if (campo.checkValidity()) {
                campo.classList.remove("is-invalid");
                campo.classList.add("is-valid");
            } else {
                campo.classList.remove("is-valid");
                campo.classList.add("is-invalid");
            }
        });
    });

    // Validación al enviar
    form.addEventListener("submit", (e) => {
        if (!form.checkValidity()) {
            e.preventDefault();
            e.stopPropagation();

            campos.forEach((campo) => {
                if (!campo.checkValidity()) {
                    campo.classList.add("is-invalid");
                }
            });
        }
    });
</script>

</body>
</html>