<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nueva categoría</title>
    <link th:replace="~{fragments/styles::styles}">
</head>
<body>

<header th:replace="~{fragments/header::header}"></header>
<div class="mb-5">
    <h1 th:replace="~{fragments/hero::hero('Nuevo producto')}"></h1>
</div>
<form method="post" th:object="${product}">
    <div class="container">
        <div class="mb-3">
            <label for="code" class="form-label">Código de producto</label>
            <input type="number" class="form-control" id="code" aria-describedby="textHelp" th:field="*{code}">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" aria-describedby="textHelp" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea class="form-control" id="description" rows="3" th:field="*{description}"></textarea>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Precio</label>
            <input type="number" class="form-control" id="price" aria-describedby="numberHelp" th:field="*{price}">
        </div>
        <div class="mb-3">
            <label for="discount" class="form-label">Descuento</label>
            <input type="number" class="form-control" id="discount" aria-describedby="numberHelp" th:field="*{discount}">
        </div>
        <button type="submit" class="btn text-light" style="background-color: #7faf51">Submit</button>
        <a type="submit" class="btn btn-danger" th:href="@{/admin/products}">Volver</a>
    </div>
</form>
<div class="mt-5"><footer th:replace="~{fragments/footer::footer}"></footer></div>
<div th:replace="~{fragments/scripts::scripts}"></div>
</body>
</html>