<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Admin - productos</title>
    <link th:replace="~{fragments/styles::styles}"/>
</head>
<body>
<header th:insert="~{fragments/headers::adminHeader}"></header>

<div class="container text-center">
    <h1 class="display-1 text-center"><a th:href="@{/admin}" style="text-decoration:none; color: #2b542c" class="text-decoration-underline">Administración</a></h1>
    <h5 class="display-5 text-center" style="color: #2b542c">Productos</h5>
</div>
<div class="container">
    <div class="d-flex justify-content-between mb-3">
        <div><a th:href="@{/admin/}" class="btn btn-danger mb-3">Volver</a></div>
        <div><a th:href="@{/admin/products/new}" class="btn btn-primary mb-3">Añadir producto</a></div>
    </div>
    <table class="table table-striped table-hover table-success">
        <caption>Productos</caption>
        <thead>
        <tr>
            <th scope="col" class="fw-bold">ID</th>
            <th scope="col" class="fw-bold">Código de producto</th>
            <th scope="col" class="fw-bold">Nombre</th>
            <th scope="col" class="fw-bold">Precio</th>
            <th scope="col" class="fw-bold">Descuento</th>
            <th scope="col" class="fw-bold">Marca</th>
            <th scope="col" class="fw-bold">Categoría/s</th>
            <th scope="col" class="fw-bold">Editar</th>
            <th scope="col" class="fw-bold">Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.id}">Identificador</td>
            <td th:text="${product.code}">Código de producto</td>
            <td th:text="${product.name}">Nombre</td>
            <td th:text="${product.price}">Precio</td>
            <td th:text="${product.discount}">Descuento</td>
            <td th:text="${product.brand?.name} ?: '-' ">Marca</td>
            <td><div th:each="category: ${product.categories}" th:text="${category.name}">Categoría/s</div></td>
            <td><a th:href="@{/admin/products/edit/{id}(id=${product.id})}" aria-label="Editar producto"><i class="bi bi-pencil-fill" aria-hidden="true"></i></a></td>
            <td><a th:href="@{/admin/products/delete/{id}(id=${product.id})}" aria-label="Eliminar producto"><i class="bi bi-trash3-fill" aria-hidden="true"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:insert="~{fragments/footer::adminFooter}"></footer>
<div th:replace="~{fragments/scripts::scripts}"></div>
</body>
</html>