<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Admin - categorías</title>
    <link th:replace="~{fragments/styles::styles}"/>
</head>
<body>
<header th:insert="~{fragments/headers::adminHeader}"></header>
<div class="container text-center">
    <h1 class="display-1 text-center"><a th:href="@{/admin}" style="text-decoration:none; color: #2b542c" class="text-decoration-underline">Administración</a></h1>
    <h5 class="display-5 text-center" style="color: #2b542c">Categorías</h5>
</div>
<div class="container">
    <div class="d-flex justify-content-between mb-3">
        <div><a th:href="@{/admin/}" class="btn btn-danger mb-3">Volver</a></div>
        <div><a th:href="@{/admin/categories/new}" class="btn btn-primary mb-3">Añadir categoría</a></div>
    </div>
    <table class="table table-striped table-hover table-success">
        <caption>Categorías</caption>
        <thead>
            <tr>
                <th scope="col" class="fw-bold">ID</th>
                <th scope="col" class="fw-bold">Nombre</th>
                <th scope="col" class="fw-bold">Descripción</th>
                <th scope="col" class="fw-bold">Editar</th>
                <th scope="col" class="fw-bold">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category: ${categories}">
                <td th:text="${category.id}">Identificador</td>
                <td th:text="${category.name}">Nombre</td>
                <td th:text="${#strings.abbreviate(category.description, 100)}">Descripción</td>
                <td><a th:href="@{/admin/categories/edit/{id}(id=${category.id})}" aria-label="Editar categoría"><i class="bi bi-pencil-fill" aria-hidden="true"></i></a></td>
                <td><a th:href="@{/admin/categories/delete/{id}(id=${category.id})}" aria-label="Eliminar categoría"><i class="bi bi-trash3-fill" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
<footer th:insert="~{fragments/footer::adminFooter}"></footer>
<div th:replace="~{fragments/scripts::scripts}"></div>
</body>
</html>


