<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar categoría</title>
    <link th:replace="~{fragments/styles::styles}">
</head>
<body>

<header th:insert="~{fragments/headers::adminHeader}"></header>
<div class="container text-center">
    <h1 class="text-decoration-underline" style="color: #2b542c;" th:text="|Editar ${category.name}|">Nuevo producto</h1>
</div>

<th:block th:if="${error}">
    <div class="container"> <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div class="alert alert-danger" th:text="${error}">Error</div>
    </div>
</th:block>

<form th:method="post" th:object="${category}" th:action="@{/admin/categories/edit/{id}(id=${id})}" th:novalidate="${!clientValidationEnabled}">
    <div class="container">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" aria-describedby="textHelp" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea class="form-control" id="description" rows="3" th:field="*{description}"></textarea>
        </div>
        <div class="d-flex justify-content-end gap-2 mb-4">
            <button type="submit" class="btn text-light mt-3 rounded-start-pill" style="background-color: #7faf51">Confirmar</button>
            <a class="btn btn-danger mt-3 border rounded-end-pill" th:href="@{/admin/categories}">Cancelar</a>
        </div>
    </div>
</form>

<footer th:insert="~{fragments/footer::adminFooter}"></footer>
<div th:replace="~{fragments/scripts::scripts}"></div>

</body>
</html>