<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nueva categoría</title>
    <link th:replace="~{fragments/styles::styles}">
</head>
<body>

<header th:replace="~{fragments/header::header}"></header>
<div class="mb-5">
    <h1 th:replace="~{fragments/hero::hero('Nueva categoría')}"></h1>
</div>
<form>

    <div class="container">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn text-light" style="background-color: #7faf51">Submit</button>
        <a type="submit" class="btn btn-danger" th:href="@{/admin/brands}">Volver</a>
    </div>
</form>
<div class="mt-5"><footer th:replace="~{fragments/footer::footer}"></footer></div>
<div th:replace="~{fragments/scripts::scripts}"></div>
</body>
</html>