<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Admin - marcas</title>
    <link th:replace="~{fragments/styles::styles}"/>
</head>
<body>
<header th:insert="~{fragments/headers::adminHeader}"></header>
<div class="container text-center">
    <h1 class="display-1 text-center"><a th:href="@{/admin}" style="text-decoration:none; color: #2b542c" class="text-decoration-underline">Administración</a></h1>
    <h5 class="display-5 text-center" style="color: #2b542c">Marcas</h5>
</div>
<div class="container">
    <div class="d-flex justify-content-between mb-3">
        <div><a th:href="@{/admin/}" class="btn btn-danger mb-3">Volver</a></div>
        <div><a th:href="@{/admin/brands/new}" class="btn btn-primary mb-3">Añadir marca</a></div>
    </div>
    <table class="table table-striped table-hover table-success">
        <caption>Marcas</caption>
        <thead>
        <tr>
            <th scope="col" class="fw-bold">ID</th>
            <th scope="col" class="fw-bold">Nombre</th>
            <th scope="col" class="fw-bold">Editar</th>
            <th scope="col" class="fw-bold">Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="brand: ${brands}">
            <td th:text="${brand.id}">Identificador</td>
            <td th:text="${brand.name}">Nombre</td>
            <td><a th:href="@{/admin/brands/edit/{id}(id=${brand.id})}" aria-label="Editar marca"><i class="bi bi-pencil-fill" aria-hidden="true"></i></a></td>
            <td><a th:href="@{/admin/brands/delete/{id}(id=${brand.id})}" aria-label="Eliminar marca"><i class="bi bi-trash3-fill"  aria-hidden="true"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:insert="~{fragments/footer::adminFooter}"></footer>
<div th:replace="~{fragments/scripts::scripts}"></div>
</body>
</html>