<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar marca</title>
    <link th:replace="~{fragments/styles::styles}"/>
</head>
<body>
<header th:replace="~{fragments/header::header}"></header>
<div th:replace="~{fragments/hero::hero('Borrar marca')}"></div>

<th:block th:if="${error}">
<div class="container"> <i class="bi bi-exclamation-triangle-fill me-2"></i>
    <div class="alert alert-danger" th:text="${error}">Error</div>
</div>
</th:block>

<form th:method="post" th:action="@{/admin/brands/delete/{id}(id=${brand.id})}" novalidate>
<div class="card container align-items-center mb-5 mt-5" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title" th:text="|¿Seguro que desea borrar la marca ${brand.name}?|"></h5>
        <button type="submit" class="btn btn-success" >Eliminar</button>
        <a class="btn btn-danger" th:href="@{/admin/brands}">Cancelar</a>
    </div>
</div>
</form>

<footer th:replace="~{fragments/footer::footer}"></footer>
<script th:replace="~{fragments/scripts::scripts}"></script>
</body>
</html>