<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar marca</title>
    <link th:replace="~{fragments/styles::styles}">
</head>
<body>

<header th:insert="~{fragments/headers::adminHeader}"></header>
<div class="mb-5">
    <h1 th:replace="~{fragments/hero::hero(|Editar ${brand.getName()}|)}"></h1>
</div>

<th:block th:if="${error}">
    <div class="container"> <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div class="alert alert-danger" th:text="${error}">Error</div>
    </div>
</th:block>

<form th:method="post" th:object="${brand}" th:action="@{/admin/brands/edit/{id}(id=${id})}" novalidate>
    <div class="container">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" aria-describedby="textHelp" th:field="*{name}">
        </div>
        <button type="submit" class="btn text-light" style="background-color: #7faf51">Confirmar</button>
        <a class="btn btn-danger" th:href="@{/admin/brands}">Cancelar</a>
    </div>
</form>

<div class="mt-5"><footer th:replace="~{fragments/footer::footer}"></footer></div>
<div th:replace="~{fragments/scripts::scripts}"></div>

<div th:replace="~{fragments/scripts::scripts}"></div>
</body>
</html>