<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo usero</title>
    <link th:replace="~{fragments/styles::styles}">
</head>
<body>

<header th:insert="~{fragments/headers::header}"></header>
<div class="mb-5">
    <h1 th:replace="~{fragments/hero::hero('Registro de usuario')}"></h1>
</div>

<th:block th:if="${errors}">
    <div class="container"> <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div class="alert alert-danger" th:each="error: ${errors}" th:text="${error}">Error</div>
    </div>
</th:block>

<form th:method="post" id="myForm" class="needs-validation" th:object="${user}" th:action="@{/register}" novalidate>
    <div class="container">
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario*</label>
            <input type="text" class="form-control has-validation" id="username" aria-describedby="textHelp" th:field="*{username}">
            <div class="invalid-feedback">
                Solo se admiten números.
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Nombre*</label>
            <input type="text" class="form-control" id="name" aria-describedby="textHelp" th:field="*{name}">
            <label for="last-name" class="form-label">Apellidos*</label>
            <input type="text" class="form-control" id="last-name" aria-describedby="textHelp" th:field="*{lastName}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña*</label>
            <input type="password" class="form-control" id="password" aria-describedby="textHelp" th:field="*{password}">
            <label for="password-confirmation" class="form-label">Confirme la contraseña*</label>
            <input type="password" class="form-control" id="password-confirmation" aria-describedby="textHelp" th:field="*{passwordConfirmation}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico*</label>
            <input type="email" class="form-control has-validation" id="email" aria-describedby="textHelp" th:field="*{email}">
            <div class="invalid-feedback">
                Debe introducir un email válido
            </div>
        </div>
        <div class="mb-3">
            <label for="phone-number" class="form-label">Número de teléfono</label>
            <input type="tel" class="form-control has-validation" id="phone-number" aria-describedby="textHelp" th:field="*{phoneNumber}">
            <div class="invalid-feedback">
                El número de teléfono introducido no es válido
            </div>
        </div>
        <div class="mb-3">
            <label for="birth-date" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control has-validation" id="birth-date" aria-describedby="textHelp" th:field="*{birthDate}">
            <div class="invalid-feedback">
                Introduzca su fecha de nacimiento
            </div>
        </div>
        <fieldset class="mb-3">
            <legend class="mt-3 ">Términos y condiciones</legend>
            <div class="row">
                <div class="form-check col-2 ps-5" style="accent-color: #7faf51">
                    <input type="checkbox"
                           id="category-check"
                           th:field="*{termsAccepted}"
                           th:id="terms">
                    <label class="form-check-label"
                           for="category-check"
                           th:for="terms"
                           th:href="@{/terms}"
                            th:target="_blank">
                        Acepto los términos y condiciones
                    </label>
                </div>
            </div>
        </fieldset>
        <div class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn text-light mt-3" style="background-color: #7faf51">Confirmar</button>
            <a class="btn btn-danger mt-3" th:href="@{/index}">Cancelar</a>
        </div>
    </div>
</form>

<div class="mt-5"><footer th:replace="~{fragments/footer::footer}"></footer></div>
<div th:replace="~{fragments/scripts::scripts}"></div>

<!--
<script>
    // Obtener formulario y campos
    const form = document.getElementById("myForm");
    const campos = form.querySelectorAll("input");


    // Validación en tiempo real
    campos.forEach((campo) => {
        campo.addEventListener("input", () => {
            if (campo.checkValidity()) {
                campo.classList.remove("is-invalid");
                campo.classList.add("is-valid");
            } else {
                campo.classList.remove("is-valid");
                campo.classList.add("is-invalid");
            }
        });
    });

    // Validación al enviar
    form.addEventListener("submit", (e) => {
        if (!form.checkValidity()) {
            e.preventDefault();
            e.stopPropagation();

            campos.forEach((campo) => {
                if (!campo.checkValidity()) {
                    campo.classList.add("is-invalid");
                }
            });
        }
    });
</script>-->
</body>
</html>