<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo usuario</title>
    <link th:replace="~{fragments/styles::styles}">
</head>
<body>

<header th:insert="~{fragments/headers::header}"></header>
<div class="mb-5">
    <h1 th:replace="~{fragments/hero::hero('Registro de usuario')}"></h1>
</div>

<!--
ANTIGUO BLOQUE DE ERRORES:
<th:block th:if="${errors}">
    <div class="container"> <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div class="alert alert-danger" th:each="error: ${errors}" th:text="${error}">Error</div>
    </div>
</th:block>
-->

<form th:method="post" id="myForm" th:object="${user}" th:action="@{/register}" th:novalidate="${!clientValidationEnabled}">
    <div class="container">
        <div class="alert alert-danger" role="alert"
             th:if="${#fields.hasAnyErrors()}">
            <p>Se han producido errores. Por favor, corríjalos antes de continuar</p>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario*</label>
            <input type="text" class="form-control has-validation" id="username" aria-describedby="textHelp" th:field="*{username}" required th:errorclass="is-invalid">
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('username')}"
                 th:errors="*{username}">Usuario no válido, nene
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Nombre*</label>
            <input type="text" class="form-control" id="name" aria-describedby="textHelp" required th:field="*{name}" th:errorclass="is-invalid">
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}">Error en el nombre
            </div>
            <label for="last-name" class="form-label">Apellidos*</label>
            <input type="text" class="form-control" id="last-name" aria-describedby="textHelp" required th:field="*{lastName}" th:errorclass="is-invalid">
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('lastName')}"
                 th:errors="*{lastName}">Error en los apellidos
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña*</label>
            <input type="password" class="form-control" id="password" aria-describedby="textHelp" required th:field="*{password}" th:errorclass="is-invalid">
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}">Error en la contraseña
            </div>
            <label for="password-confirmation" class="form-label">Confirme la contraseña*</label>
            <input type="password" class="form-control" id="password-confirmation" aria-describedby="textHelp" required th:field="*{passwordConfirmation}" th:errorclass="is-invalid">
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('passwordConfirmation')}"
                 th:errors="*{passwordConfirmation}">Error al confirmar la contraseña
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico*</label>
            <input type="email" class="form-control has-validation" id="email" aria-describedby="textHelp" required th:field="*{email}" th:errorclass="is-invalid">
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}">Error en el email
            </div>
        </div>
        <div class="mb-3">
            <label for="phone-number" class="form-label">Número de teléfono</label>
            <input type="tel" class="form-control has-validation" id="phone-number" aria-describedby="textHelp" th:field="*{phoneNumber}" th:errorclass="is-invalid">
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('phoneNumber')}"
                 th:errors="*{phoneNumber}">Error en el número de tlfno
            </div>
        </div>
        <div class="mb-3">
            <label for="birth-date" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control has-validation" id="birth-date" aria-describedby="textHelp" th:field="*{birthDate}" th:errorclass="is-invalid">
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('birthDate')}"
                 th:errors="*{birthDate}">Error la fecha de nacimiento
            </div>
        </div>
        <fieldset class="mb-3">
            <legend class="mt-3 ">Términos y condiciones</legend>
            <div class="row">
                <div class="form-check col-2 ps-5" style="accent-color: #7faf51">
                    <input type="checkbox"
                           id="category-check"
                           th:field="*{termsAccepted}"
                           th:id="terms"
                           required
                           th:errorclass="is-invalid">
                    <label class="form-check-label"
                           for="category-check"
                           th:for="terms"
                           th:href="@{/terms}"
                            th:target="_blank">
                        Acepto los términos y condiciones
                    </label>
                    <div class="text-danger small"
                         th:if="${#fields.hasErrors('termsAccepted')}"
                         th:errors="*{termsAccepted}">Error en los términos y condiciones
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn text-light mt-3" style="background-color: #7faf51">Confirmar</button>
            <a class="btn btn-danger mt-3" th:href="@{/index}">Cancelar</a>
        </div>
    </div>
</form>

<div class="mt-5"><footer th:replace="~{fragments/footer::footer}"></footer></div>


<div th:replace="~{fragments/scripts::scripts}"></div>


</body>
</html>